@import "reset.css";
@import "fonts.css";

/*
  Псевдо-селекторы :before и :after, чтобы сделать полоску между элементами.
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;

  height: 45px;
  padding: 0 15px;

  text-transform: uppercase;

  color: #fff;
  background-color: rgb(38, 38, 38);

  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 600;

  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 21px;
  margin-top: -4px;
}

nav ul {
  display: flex;
}

nav ul:first-of-type {
  padding-left: 150px;
}

nav ul li {
  padding: 5px 15px;

  letter-spacing: 1px;
}

nav ul:last-of-type {
  align-items: center;
}

.info-panel {
  display: flex;

  height: 45px;
  padding: 0 15px;

  color: #000;
  border-bottom: 1px solid #ccc;
  background-color: #fff;

  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 600;

  justify-content: space-between;
  align-items: center;
}

.info-panel a {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #999;
}

main {
  padding-top: 8px;

  background-color: #f2f2f2;
}

section {
  min-width: 70vw;
  max-width: 95vw;
  margin: 15px auto;
}

section.is-prominent {
  border: 1px solid #ccc;
  border-top: 4px solid #b88b58;
  border-radius: 2px;
  background-color: #fff;
}

.card__content {
  display: flex;

  padding: 15px;

  flex-wrap: wrap;
}

.card__header {
  padding: 15px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: gray;

  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 600;
}

.card__content__item:nth-child(1),
.card__content__list {
  width: 50%;
}

.card__content__item {
  display: flex;
  flex-direction: column;

  padding-bottom: 30px;
}

.card__content__item h3 {
  font-family: "PF Regal";
  font-size: 19px;

  flex: 1;
}

.card__content__list {
  display: flex;

  flex-wrap: wrap;
}

.card__content__list .card__content__item {
  display: flex;

  width: 50%;

  flex-flow: column nowrap;
}

.card__content__list .card__content__item h3 {
  padding-top: 5px;
  padding-right: 25px;
}

.card__content > .card__content__item:first-of-type h3 {
  font-size: 34px;
}

.timestamp {
  font-family: "Proxima Nova";
  font-size: 12px;
}

.card__content__item.is-important h3 {
  font-family: "Proxima Nova";
  font-weight: bold;
}

section.has-3-cards {
  display: flex;

  justify-content: space-between;
}

.card--1-of-3 {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: calc(100% / 3);
  margin-right: 15px;

  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
}

.card--1-of-3:last-of-type {
  margin-right: 0;
}

.img-wrapper {
  overflow: hidden;
}

.card--1-of-3 img {
  width: 100%;

  transition: transform 1500ms ease;
}

.card--1-of-3 img:hover {
  transform: scale(1.3);
}

.card--1-of-3 .category,
.card--1-of-3 h3,
.card--1-of-3 .timestamp {
  padding: 10px;
}

.card--1-of-3 .category {
  margin-top: 15px;
  margin-left: 10px;
  padding: 0 5px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #b88b58;
  border: 1px solid #b88b58;
  border-radius: 2px;

  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;

  align-self: flex-start;
}

.card--1-of-3 h3 {
  font-family: "PF Regal";
  font-size: 20px;
  line-height: 22px;

  flex-grow: 1;
}

.card--1-of-3 .timestamp {
  color: #999;
}








.temp {}
