@import "reset.css";
@import "fonts.css";

/*
  Псевдо-селекторы :before и :after, чтобы сделать полоску между элементами.
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;

  height: 45px;
  padding: 0 15px;

  text-transform: uppercase;

  color: #fff;
  background-color: rgb(38, 38, 38);

  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 700;

  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 21px;
  margin-top: -4px;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 5px 10px;

  letter-spacing: 1px;
}

nav ul:last-of-type {
  align-items: center;
}

.info-panel {
  display: flex;

  height: 45px;
  padding: 0 15px;

  color: #000;
  border-bottom: 1px solid #999;
  background-color: #fff;

  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: bold;

  justify-content: space-between;
  align-items: center;
}

.info-panel a {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #999;
}

main {
  padding-top: 15px;

  background-color: #f2f2f2;
}

section {
  width: 80vw;
  margin: 15px auto;

  border: 1px solid #999;
  border-top: 3px solid #b88b58;
  background-color: #fff;
}

.card {

}

.block:nth-child(1n) {
  width: 50%;
}

.block h3 {
  font-family: "PF Regal";
  font-size: 19px;
}

.card .block:first-of-type h3 {
  font-size: 34px;
}

.timestamp {
  font-family: "Proxima Nova";
  font-size: 12px;
}

.block.is-important h3 {
  font-family: "Proxima Nova";
  font-weight: bold;
}








.temp {}
